{% extends 'template_main.html'%}
{% load crispy_forms_tags %}
{% block 'body' %}
    <div class="col-sm-8 mx-auto">
      <main role="main">
        <h1> {% load static %}
      <span class="badge badge-light"><img src="{% static 'img/asset.png' %}" height="25" alt=""/> Asset booking portal </span></h1>

        {% if user.is_authenticated and form is not None %}
          <h2 class="alert-heading">Booking</h2>
          {%if activeBooking is not None %}
            <h3>{{activeBooking}}</h3>
            <h4>Closing comments:</h4>
            <form action="{% url 'shifter:assets-post-close' %}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="activeBookingId" value="{{activeBooking.id}}" />
          {%else%}
            <form action="{% url 'shifter:assets-post' %}" method="POST" enctype="multipart/form-data">
          {%endif%}
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-success" type="submit" value="Submit">
        </form>
        {% endif %}

         <hr/>
          <h2>Last bookings <a class="btn btn-success" href="/assets?new=true"> <img src="{% static 'img/asset.png' %}" height="20" alt=""/> New booking </a></h2>

          <a class="btn btn{% if assetFilter %}-outline{%endif%}-primary" href="/assets"> <img src="{% static 'img/asset.png' %}" height="20" alt=""/>
                Show All </a>
          {%for assetType in assetTypes %}
            <a class="btn btn{%if assetFilter != assetType.id%}-outline{%endif%}-primary" href="/assets?typeId={{assetType.id}}"> <img src="{% static 'img/asset.png' %}" height="20" alt=""/>
                {{assetType}} </a>
          {%endfor%}
        <table class="table table-striped" >
                  <thead>
                    <tr>
                      <th scope="col">Member</th>
                      <th scope="col">Asset</th>
                      <th scope="col">Use start</th>
                      <th scope="col">Use end</th>
                      <th scope="col">Initial comments</th>
                      <th scope="col">Closing comments</th>
                    </tr>
                  </thead>
                  <tbody>
        {% for assetbooking in assetBookings %}
            <tr><td><strong>{{assetbooking.member}} <br> ({{assetbooking.member.team}})</strong></td>
                <td> <strong>{{assetbooking.asset}}</strong></td>
                <td>{{assetbooking.use_start}}</td>
                <td>{{assetbooking.use_end}}</td>
                <td> <small>{{assetbooking.booking_created}}/{{assetbooking.booked_by}} </small><br>{{assetbooking.initial_comment}}</td>
                <td>
                    {%if assetbooking.state == 'R' %}<small> <span class="badge badge-secondary">{{assetbooking.state}}</span>  {{assetbooking.booking_finished}} /{{assetbooking.finished_by}}</small><br>{{assetbooking.after_comment}}
                    {% else %} <a class="btn btn-outline-success" href="/assets?close={{assetbooking.id}}"> <img src="{% static 'img/asset.png' %}" height="20" alt=""/> End booking </a> {%endif%}
                </td>
            </tr>
        {% endfor %}
                  </tbody>
        </table>
<!--        <div style="clear:both;"></div>-->
        <hr/>

        <h5>Control Room Phone Number: <a class="btn btn-outline-primary" href="tel:{{controlRoomPhoneNumber}}"><strong>{{controlRoomPhoneNumber}}</strong></a></h5>
      </main>
    </div>
{% endblock %}
