{% extends 'template_main.html'%}
{% block 'body' %}

    <div class="col-sm-8 mx-auto">
      <main role="main">

      <div class="float-none" style="padding:40px;text-align:center;" >
        <h1> <span class="badge badge-primary"> Defined campaigns and their dates </span></h1>
        {% for c in campaigns %}
          <p> <span class="badge badge-primary">{{c.name}}</span> for <strog>{{c.date_start}}</strog> - <strong>{{c.date_end}}</strong> <small>(revision {{c.revision}})</small> </p>
        {% endfor%}
      </div>

      <hr>
          <div class="float-none" style="padding:40px;text-align:center;" >
        <h1> <span class="badge badge-info"> Defined day slots </span></h1>
        {% for c in slots %}
          <p> <span class="badge badge-info">{{c.name}} ({{c.abbreviation}})</span> for <strong>{{c.hour_start}}</strong> - <strong>{{c.hour_end}}</strong> </p>
        {% endfor%}
        </div>

        <hr>
        <div class="float-none" style="padding:40px;text-align:center;" >
        <h1> <span class="badge badge-secondary"> Shift roles </span></h1>
        {% for c in shiftroles %}
          <p>{{c.name}}  <span class="badge badge-secondary">{{c.abbreviation}}</span> </p>
        {% endfor%}
        </div>

        <hr>
        <div class="float-none" style="padding:40px;text-align:center;">
        <h1> <span class="badge badge-secondary"> Member assigned roles </span></h1>
        {% for c in memberroles %}
          <p>{{c.name}}  <span class="badge badge-secondary">{{c.abbreviation}}</span> </p>
        {% endfor%}
        </div>
      </main>
    </div>

{% endblock %}