{% extends 'template_main.html'%}
{% block 'body' %}
<br/>
<div class='ui container'>
  <div class='ui grid'>
    <div class='ui sixteen column'>
      <div id='calendar'></div>
    </div>
  </div>
</div>

</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js'></script>

<script id='rendered-js' >
$(document).ready(function () {

  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,basicWeek,basicDay'
    },
    defaultView: 'basicWeek',
    defaultDate: '2021-03-23',
    navLinks: true, // can click day/week names to navigate views
    editable: false,
    eventLimit: true, // allow 'more' link when too many events
    // title: ' AAAAA '
    // intervalStart:'2021-03-03',
    // intervalEnd:'2021-03-10',

    events: [
      {% for campaign in scheduled_campaigns_list %}
      {
          title: '{{ campaign.name  }}',
          start:'{{ campaign.date_start }}',
          end:'{{ campaign.date_end }}',
          color:'orange',
          //display: 'background',
      },
      {% endfor %}


    {% for shift in scheduled_shifts_list %}
    {
        title: '{{shift.member.first_name}} as {{shift.member.role}}',
        start:'{{ shift.shift_start }}',
        end:'{{ shift.shift_end }}',
        color:{% if 'Morning' in shift.slot.name %}'#FFFFFF'{% else %}'#AFAFAF'{% endif %}

    },
    {% endfor %}

    ] });

});
    </script>
{% endblock %}
