{% extends 'template_main.html'%}
{% block 'body' %}
<br/>

{% include 'calendar.html' %}
<br>
<div class="col-sm-8 mx-auto">
   <hr>
   <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
  {% csrf_token %}
    <div class="form-row align-items-center">
      <div class="col-auto">
          <select name='revision' id='revision' class="custom-select" required>
              {% for r in revisions %}
                  <option value="{{r.number}}">{{r}}</option>
              {% endfor %}
          </select>
        </div>
        <div class="col-auto">
          <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Change </button>
        </div>
    </div>
    </form>

</div>

{% endblock %}
