{% extends 'template_main.html'%}
{% load static %}

{% block body %}
<div class="container-fluid mb-5 pb-5>
    <div class="row">
        <h2 class="text-center mb-3">Desiderata for <team_id data-id="{{ team.id }}">{{team}}</team_id></h2>
        <p class="text-center mb-3"><strong>Dear rota-maker, kindly remind that these informations are confidential !</strong></p>
    </div>
    <div class="row">
        <div class="col">
            <div class='container'>
                  <div id='calendar' style="padding-top: 10px;" data-source-desiderata="{% url 'desiderata.get_team_desiderata' %}" data-source-holidays="{%  url 'ajax.get_holidays' %}"></div>
            </div>
        </div>
    </div>
</div>
{%  endblock body %}

{%  block js %}
    <script type="text/javascript" src="{% static 'js/team_desiderata.min.js' %}"></script>
{% endblock %}