{% extends 'template_main.html'%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'select2/dist/css/select2.min.css'%}">
{% endblock %}

{% block body %}
<div class="container-fluid mb-5 pb-5">
    <div class="row">
        <h2 class="text-center mb-3"><team_id data-id="{{ team.id }}">{{team}} - Planning Overview</team_id></h2>
    </div>
    <div class="row">
        <div class="col">
            {% url 'ajax.get_team_events' as the_url %}
            {% include 'calendar.html' with event_source=the_url %}
        </div>
    </div>
</div>

{%  include 'layout/calendar_tools_off_canvas.html' %}



    <div class="col-sm-8 mx-auto">
      <main role="main">
          <h1> <span class="badge badge-light">Hello {{member.first_name}} <team_id data-id="{{ team.id }}">{{team}}!</team_id></span></h1>
          {% if request.user.is_authenticated %}
          <h4><a data-toggle="collapse" href="#collapseCodesDiv" role="button"
                 aria-expanded="false" aria-controls="collapseCodesDiv">Check tabular shift breakdown</a></h4>
          {% endif %}
         <h2>Team's calendar</h2>
      </main>
    </div>

<br>

<div class="col-sm-8 mx-auto">
    <p>Your rota-maker{{ rota_maker|pluralize }} : {%  for a_rota_maker in rota_maker %} <a href="mailto:{{ a_rota_maker.email }}">{{ a_rota_maker.first_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %} </p>
</div>

{% if user.is_authenticated %}
<div class="col-sm-8 mx-auto">
  <main role="main">
    <div class="collapse" id="collapseCodesDiv">
      <div class="card card-body">
      <h4>{{team}} - tabular shift breakdown</h4>
      {% if browsable %}
      <div class="btn-group" role="group" aria-label="Basic example">
          <a type="button" class="btn btn-primary" href="?date={{lastmonth}}">{{lastmonth_label}} < </a>
          <a type="button" class="btn btn-light" > <strong>{{currentmonth_label}}</strong></a>
          <a type="button" class="btn btn-primary" href="?date={{nextmonth}}"> > {{nextmonth_label}}</a>
      </div>
      {%endif%}
      <table class="table table-striped" >
          <thead>
            <tr>
              <th scope="col">TeamMate</th>
              <th scope="col">Total Shifts</th>
                {% for s in validSlots %} <th scope="col">{{s.name}}<br><small>({{s.hour_start}} - {{s.hour_end}})</small></th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for m in teamMembers %}
          <tr><td><strong>{{m.0}}</strong>({{m.0.role}})</td><td>{{m.1}}</td> <td>{{m.2}}</td> <td>{{m.3}}</td><td>{{m.4}}</td><td>{{m.5}}</td><td>{{m.6}}</td><td>{{m.7}}</td><td>{{m.8}}</td></tr>
          {% endfor %}
          </tbody>
        </table>
      </ul>
      </div>
    </div>
  </main>
</div>
{% endif %}

{% endblock %}

{%  block js %}
<script type="text/javascript" src="{% static 'select2/dist/js/select2.full.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/calendar_script.min.js' %}"></script>
<script>
$(document).ready(function() {
    $('#displayed_campaigns').select2();
    $('#displayed_revision').select2();
});
</script>
{% endblock %}