{% extends 'template_main.html'%}
{% load static %}
{% block 'extra_menu_item' %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>Display options<small> Revision:{{displayed_revision}}</small></strong>
        </a>
        <form class="dropdown-menu p-4">
          {% csrf_token %}
          <div class="form-group">
          <label>Displayed campaigns:</label>

          {% for c in campaigns %}
          <br><input class="form-check-input" type="checkbox" name="campaign{{c.id}}" id="campaign{{c.id}}" value="{{c.id}}"
                     {%if c in scheduled_campaigns_list%} checked {%endif%} disabled>
            <label class="form-check-label" for="campaign{{c.id}}">{{c}}<br>
            <small><strong>{{c.date_start}} - {{c.date_end}}</strong></small></label>
          {% endfor %}
          </div>
<!--          <div class="dropdown-divider"></div>-->
<!--          <button type="submit" class="btn btn-primary" {%if not logged_user %} disabled {%endif%}>Apply</button>-->
        </form>
      </li>
{% endblock %}

{% block 'body' %}
    <div class="col-sm-8 mx-auto">
      <main role="main">
          <h1> <span class="badge badge-light">Hello {{member.first_name}} <team_id data-id="{{ team.id }}">{{team}}!</team_id></span></h1>
          {% if user.is_authenticated %}
          <h4><a data-toggle="collapse" href="#collapseCodesDiv" role="button"
                 aria-expanded="false" aria-controls="collapseCodesDiv">Check tabular shift breakdown</a></h4>
          {% endif %}
         <h2>Team's calendar</h2>
      </main>
    </div>

<br>
{% url 'ajax.get_team_events' as the_url %}
{% include 'calendar.html' with event_source=the_url %}

{% if user.is_authenticated %}
<div class="col-sm-8 mx-auto">
  <main role="main">
    <div class="collapse" id="collapseCodesDiv">
      <div class="card card-body">
      <h4>{{team}} - tabular shift breakdown</h4>
      {% if browsable %}
      <div class="btn-group" role="group" aria-label="Basic example">
          <a type="button" class="btn btn-primary" href="?date={{lastmonth}}">{{lastmonth_label}} < </a>
          <a type="button" class="btn btn-light" > <strong>{{currentmonth_label}}</strong></a>
          <a type="button" class="btn btn-primary" href="?date={{nextmonth}}"> > {{nextmonth_label}}</a>
      </div>
      {%endif%}
      <table class="table table-striped" >
          <thead>
            <tr>
              <th scope="col">TeamMate</th>
              <th scope="col">Total Shifts</th>
                {% for s in validSlots %} <th scope="col">{{s.name}}<br><small>({{s.hour_start}} - {{s.hour_end}})</small></th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for m in teamMembers %}
          <tr><td><strong>{{m.0}}</strong>({{m.0.role}})</td><td>{{m.1}}</td> <td>{{m.2}}</td> <td>{{m.3}}</td><td>{{m.4}}</td><td>{{m.5}}</td><td>{{m.6}}</td><td>{{m.7}}</td><td>{{m.8}}</td></tr>
          {% endfor %}
          </tbody>
        </table>
      </ul>
      </div>
    </div>
  </main>
</div>
{% endif %}

{% endblock %}

{%  block js %}
<script type="text/javascript" src="{% static 'js/calendar_script.min.js' %}"></script>
{% endblock %}