{%  load static %}
<!DOCTYPE html>
<html lang='en' >
<head>
<meta charset='UTF-8'>
<title>Shifter - shifts planner and viewer</title>
    <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'fullcalendar/main.min.css'%}">
</head>

<body translate='no'>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    {% if SHIFTER_TEST_INSTANCE %} <span class="badge bg-danger">{%endif%}
    {{APP_NAME}}&nbsp
    {% if SHIFTER_TEST_INSTANCE %} </span> <span class="badge bg-danger">DEVELOPMENT INSTANCE</span> {%endif%}
    <h6 style="color:#D0D0D0">{{APP_GIT_TAG}}</h6> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href='/today'> {% load static %}
      <img src="{% static 'img/shifter.png' %}" height="20" alt=""/>Now on shift</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/'> {% load static %}
      <img src="{% static 'img/calendar.png' %}" height="20" alt=""/> Calendar Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/phonebook'> {% load static %}
      <img src="{% static 'img/phonebook.png' %}" height="20" alt=""/> {{PHONEBOOK_NAME}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/assets'> {% load static %}
      <img src="{% static 'img/asset.png' %}" height="20" alt=""/> Assets {% if not logged_user %} {% load static %}
      <img src="{% static 'img/padlock.png' %}" height="20" alt=""><span class="badge bg-success">Login required</span> {%endif%}</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href='/user' > My Shifts {% if not logged_user %} {% load static %}
      <img src="{% static 'img/padlock.png' %}" height="20" alt=""><span class="badge bg-success">Login required</span> {%endif%} </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Teams View</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"  href='/team' >My Team detailed Summary {% if not logged_user %}
            <img src="{% static 'img/padlock.png' %}" height="20" alt=""><span class="badge bg-success">Login required</span> {%endif%} </a>
            <a class="dropdown-item"  href='{%  url 'desiderata.user' %}' >My Desiderata {% if not logged_user %}
            <img src="{% static 'img/padlock.png' %}" height="20" alt=""><span class="badge bg-success">Login required</span> {%endif%} </a>
            <div class="dropdown-divider"></div>
            {% for c in teams %}<a class="dropdown-item"  href="/t?id={{c.id}}"> {{c.name}} </a>
            {% endfor%}
        </div>
      </li>

    {%  if rota_maker_for %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Rota-maker</a>
        <div class="dropdown-menu">
            {% for a_managed_team in rota_maker_for %}
                <a class="dropdown-item"  href="{%  url 'desiderata.team_view' team_id=a_managed_team.id %}"> {{a_managed_team.name}} </a>
            {% endfor%}
        </div>
      </li>
    {%  endif %}
    </ul>
    <ul class="navbar-nav">
    {% block 'extra_menu_item' %}
    {% endblock %}
      <li class="nav-item dropdown">
        <button class="btn btn-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions {% if request.user.is_staff %} for {{request.user.first_name}} {% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href='/dates'>Show environment configuration</a>
          {% if request.user.is_staff %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href='/shift-upload-csv'>Upload new schedule</a>
          <a class="dropdown-item" href='/shift-update'>Update existing schedule</a>
          {%endif%}

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target='new' href='{{APP_REPO}}/-/blob/master/CHANGELOG.md'>
          <img src='{{APP_REPO_ICON}}' height="20" width="20" alt=""/>See ChangeLog</a>

          <a class="dropdown-item" target='new' href='{{APP_REPO}}/-/issues/new'>
          <img src='{{APP_REPO_ICON}}' height="20" width="20" alt=""/>Submit Ideas/Requests</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href='/admin'><strong>Super user panel </strong> <span class="badge bg-success">Login required</span></a>
        </div>
      </li>
      <li class="nav-item">
        &nbsp&nbsp
      </li>
       {%if logged_user %}<li class="nav-item">
<!--        <a class="nav-link" href="options/logout"><span class="badge bg-warning">Logout</span></a>-->
        <a class="btn btn-warning my-2 my-sm-0" type="submit" href="options/logout">Logout</a>
      </li>
      <li class="nav-item">
        &nbsp&nbsp
      </li>{%endif%}
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" disabled>
      <button class="btn btn-success my-2 my-sm-0" type="submit" disabled>Search</button>
    </form>
  </ul>
</nav>

<div class="col-sm-4 mx-auto">
<div id="load" class="d-flex align-items-center alert-dark">
  <strong>Loading...</strong>
  <div class="spinner-border text-warning ml-auto" role="status" aria-hidden="true"></div>
</div>
{% include 'messages.html' %}
</div>

{% block 'body' %}
{% endblock %}
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar/main.min.js' %}"></script>
<script>
 if (document.location.search.match(/type=embed/gi)) {
       window.parent.postMessage('resize', '*');
     }

  document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'interactive') {
       document.getElementById('contents').style.visibility="hidden";
  } else if (state == 'complete') {
      setTimeout(function(){
         document.getElementById('interactive');
         document.getElementById('load').style.visibility="hidden";
         document.getElementById('contents').style.visibility="visible";
      },1000);
  }
}
</script>

{%  block js %}
{% endblock %}

</body>
</html>
