{% extends 'template_main.html'%}
{% load static %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h2 class="text-center mb-3">Desiderata for <member_id data-id="{{ member.id }}">{{member}}</member_id></h2>
        <p class="text-center mb-3">While creating a new planning, the rota maker assumes you're available all time ! As it's most probably not the
    case, you can set up here your availability planning. <br>
    Place slots corresponding to the period you are not available. <strong>This planning is only visible by the
    rota-maker, shifter admins and you !</strong>
        </p>
    </div>
    <div class="row">
        <div class="col">
            <div class='container'>
                  <div id='calendar' style="padding-top: 10px;" data-delete-event="{% url 'desiderata.delete' %}" data-edit-event="{% url 'desiderata.edit' %}"  data-post-event="{% url 'desiderata.add' %}" data-source-desiderata="{% url 'desiderata.get_user_desiderata' %}" data-source-holidays="{%  url 'ajax.get_holidays' %}"></div>
            </div>
        </div>
    </div>
</div>
{%  endblock body %}

{%  block js %}
    <script type="text/javascript" src="{% static 'js/user_desiderata.min.js' %}"></script>
{% endblock %}