{% extends 'template_main.html'%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'datatables.net-bs5/css/dataTables.bootstrap5.min.css'%}">
<link rel="stylesheet" href="{% static 'datatables.net-buttons-dt/css/buttons.dataTables.min.css'%}">
<link rel="stylesheet" href="{% static 'datatables.net-searchpanes-bs5/css/searchPanes.bootstrap5.min.css'%}">
<link rel="stylesheet" href="{% static 'daterangepicker/daterangepicker.css'%}">
<link rel="stylesheet" href="{% static 'select2/dist/css/select2.min.css'%}">
{% endblock %}


{% block body %}
<div class="container-fluid mb-5 pb-5">
    <div class="row justify-content-center">
        <h2 class="text-center mb-3"><member_id data-id="{{ member.id }}">{{member}}'s personal space</member_id></h2>
        <div class="col pb-5">
            <ul class="nav nav-tabs" id="user_tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="planning-tab" data-bs-toggle="tab" data-bs-target="#planning-tab-pane" type="button" role="tab" aria-controls="planning-tab-pane" aria-selected="true">My Planning</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link position-relative" id="revision-tab" data-bs-toggle="tab" data-bs-target="#revision-tab-pane" type="button" role="tab" aria-controls="revision-tab-pane" aria-selected="false">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ newer_revisions.count }}
                            <span class="visually-hidden">newer revision</span>
                        </span>
                        Newer Revision</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="time_report-tab" data-bs-toggle="tab" data-bs-target="#time_report-tab-pane" type="button" role="tab" aria-controls="time_report-tab-pane" aria-selected="false">Time Report</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="links-tab" data-bs-toggle="tab" data-bs-target="#links-tab-pane" type="button" role="tab" aria-controls="links-tab-pane" aria-selected="false">Calendar Links</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link position-relative" id="inconsistencies-tab" data-bs-toggle="tab" data-bs-target="#inconsistencies-tab-pane" type="button" role="tab" aria-controls="inconsistencies-tab-pane" aria-selected="false">Inconsistencies</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link position-relative" id="shift-swap-tab" data-bs-toggle="tab" data-bs-target="#shift-swap-tab-pane" type="button" role="tab" aria-controls="shift-swap-tab-pane" aria-selected="false">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ exchanges_total }}
                            <span class="visually-hidden">Shift Swaps</span>
                        </span>
                        Shift Swaps</button>
                </li>
            </ul>
            <div class="tab-content" id="user_tabs_content">
                <div class="tab-pane fade show active" id="planning-tab-pane" role="tabpanel" aria-labelledby="planning-tab" tabindex=""0>
                        {% include 'calendar.html' with event_source=the_url %}
                </div>
                <!-- Tab displaying the time reporting breakdown -->
                <div class="tab-pane fade" id="time_report-tab-pane" role="tabpanel" aria-labelledby="time_report-tab" tabindex="1">
                    <div class='container'>
                        <div class="row justify-content-center m-4">
                            <div class="col">
                                <h2 class="mb-3">HR Codes to report</h2>
                                <div class="alert alert-warning fade show" role="alert">
                                    <strong>Disclaimer</strong> These counts here are build to the best of our knowledge based on the HR documents, but should be treated as an indication rather than the ultimate reference.
                                </div>

                                <form class="row g-3 m-3">
                                    <div class="form-group row">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Date-range :</label>
                                        <div class="col-sm-10">
                                            <input class="form-control"  type="text" id="date_range_picker" name="daterange" value="{{ default_start | date:"m/d/y" }} - {{ default_end | date:"m/d/y" }}" />
                                        </div>
                                    </div>
                                </form>


                                <div class="table-responsive">
                                    <table class="table table-striped" id="table_HR" data-source="{% url 'ajax.get_hr_codes' %}">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">OB1 hours</th>
                                                <th scope="col">OB2 hours</th>
                                                <th scope="col">OB3 hours</th>
                                                <th scope="col">OB4 hours</th>
                                                <th scope="col">NWH hours</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <!-- filled by AJAX -->
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab displaying the tutorial for subscribing to the calendar in outlook -->
                <div class="tab-pane fade" id="links-tab-pane" role="tabpanel" aria-labelledby="links-tab" tabindex="2">
                    <div class='container'>
                        <div class="row justify-content-center m-4">
                            <div class="col">
                                <h2 class="mb-3">Add Shifts to your Outlook calendar</h2>
                                <div>
                                    <p><b>Note:&nbsp;</b>When you subscribe to a calendar, your calendar will automatically refresh if the other calendar is updated. This can sometimes take more than 24 hours.</p>
                                </div>
                                <ol type="1">
                                    <li>
                                        <p>
                                            <a href="https://mail.esss.lu.se/owa/#path=/mail" target="_blank">Sign in to Outlook WEB</a>.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            On the right top corner click <img width="20" src="{% static 'img/outlook_select.png' %}" alt="Calendar" loading="lazy">,and then select calendar <img width="20" src="{% static 'img/outlook_calendar.png' %}" alt="Calendar" loading="lazy">.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            In the navigation pane, select <b>Add calendar</b>.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Select <b>From internet</b>.
                                        </p>
                                        <p>
                                            <img src="{% static 'img/outlook_subscribe.png' %}" alt="Subscribe to a calendar" loading="lazy">
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-2">
                                            Enter the URL for the calendar :
                                        </p>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">iCal link for you&nbsp<strong>{{member}}</strong></span>
                                            <input type="text" class="form-control" aria-label="user link" aria-describedby="basic-addon2" id="personal_link_clipboard_data" value="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'calendar_public' %}?mid={{member.id}}">
                                            <button class="btn btn-outline-secondary btn-light" type="button" id="personal_link_clipboard"><i class="fa-regular fa-copy"></i></button>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">iCal link for your team&nbsp<strong>{{member.team}}</strong></span>
                                            <input type="text" class="form-control" aria-label="team link" aria-describedby="basic-addon2" id="team_link_clipboard_data" value="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'calendar_public' %}?tid={{member.team.id}}">
                                            <button class="btn btn-outline-secondary btn-light" type="button" id="team_link_clipboard"><i class="fa-regular fa-copy"></i></button>
                                        </div>
                                    </li>
                                    <li>
                                        <p>
                                            Select <b>Import</b>.
                                        </p>
                                    </li>
                                    <li>
                                        You're done !
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab displaying future revision switches buttons -->
                <div class="tab-pane fade" id="revision-tab-pane" role="tabpanel" aria-labelledby="revision-tab" tabindex="3">
                    <div class='container'>
                        <div class="row justify-content-center m-4">
                            <div class="col">
                                <h2 class="mb-3">Future revisions : </h2>
                                <div class="alert alert-warning fade show" role="alert">
                                    <strong>Newer plans available for the preview :</strong> You can preview the future planning by checking the one(s) you want to see. Please note that these plannings are not only approved, and not yet considered as valid.
                                </div>
                                {% for one in newer_revisions%}
                                 {% if forloop.first %}
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="radio" name="future_revisions_checkboxes" id="future_revisions_checkboxes_none" data-future_rev_id="-1" {%  if not requested_future_rev_id %}checked{% endif %}>
                                        <label class="form-check-label" for="future_revisions_checkboxes_none">
                                            Hide all future revisions
                                        </label>
                                    </div>
                                 {% endif %}
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="radio" name="future_revisions_checkboxes" id="future_revisions_checkboxes_{{ one.number }}" data-future_rev_id="{{ one.number }}" {% if requested_future_rev_id == one.number %}checked{% endif %}>
                                        <label class="form-check-label" for="future_revisions_checkboxes_{{ one.number }}">
                                            {{one}}
                                        </label>
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab displaying possible inconsistencies -->
                <div class="tab-pane fade" id="inconsistencies-tab-pane" role="tabpanel" aria-labelledby="inconsistencies-tab" tabindex="4">
                    <div class='container'>
                        <div class="row justify-content-center m-4">
                            <div class="col">
                                <h2 class="mb-3">Inconsistencies</h2>
                                <div class="mb-3">
                                    <select class="form-select" onchange="return fillInconsistenciesDiv(this.value)" name='revision' id='revision-for-inconsistencies' required>
                                        {% for rev in revisions %}
                                            <option value="{{rev.number}}" {% if rev == latest_revision %}selected="selected"{%endif%}>
                                                {{rev}} (validity: {{rev.valid}}) </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="shift-inconsistencies"></div> <!-- Filled on change of combo box above-->
                                <div><hr><h6>Legend</h6> <p><span class="badge text-bg-light">Passed occurrence </span><span class="badge text-bg-danger">Future occurrence </span><span class="badge text-bg-dark">hours of break between shifts</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tab displaying possible shift swaps -->
                <div class="tab-pane fade" id="shift-swap-tab-pane" role="tabpanel" aria-labelledby="shift-swap-tab" tabindex="5">
                    <div class='container'>
                        <div class="row justify-content-center m-4">
                            <div class="col">
                            <h2 class="mb-3">New Request:</h2>
                                {%if shiftExchangesLast != None%}
                                <form action="{% url 'shifter:shift-exchange-request' shiftExchangesLast.id %}" method="POST" enctype="multipart/form-data" class="form-horizontal">{%else%}
                                <form action="{% url 'shifter:shift-exchange-request'%}" method="POST" enctype="multipart/form-data" class="form-horizontal">{%endif%}
                                    {% csrf_token %}
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="futureMy" class="form-label">Future shifts of mine: </label>
                                            <select class="form-select" name='futureMy' id='futureMy' required>
                                                <option value="">select me</option>
<!--                                                fill with ajax-->
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="futureOther" class="form-label">Other shifts to change: </label>
                                            <select class="form-select" name='futureOther' id='futureOther' required>
                                                <option value="">select me</option>
<!--                                                fill with ajax-->
                                            </select>
                                        </div>
                                        <button class="btn btn-secondary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Create or Add to the last Request</button>
                                     </div>
                                    <div class="col">
                                        <div class="mb-3">
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <h2 class="mb-3">Shift exchange requests</h2>
                                <div class="accordion" id="accordionShiftExchanges">
                                {% if exchanges_total == 0 %}
                                    <p>No exchanges in the current planning</p>
                                {% else %}
                                    {% for oneSE in shift_exchanges_requested%}
                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{oneSE.id}}" aria-expanded="true" aria-controls="collapse{{oneSE.id}}">
                                            {{oneSE.requestor}} <br> <small>&nbsp;requested on {{oneSE.requested_date}}</small>&nbsp;
                                              <span class="badge text-bg-{%if oneSE.implemented%}success">IMPLEMENTED{%else%}primary">NOT IMPLEMENTED{%endif%}</span>&nbsp;
                                              <span class="badge text-bg-{%if oneSE.applicable%}success">APPLICABLE{%else%}danger">NOT APPLICABLE{%endif%}</span>
                                          </button>
                                        </h2>
                                        <div id="collapse{{oneSE.id}}" class="accordion-collapse collapse {%if oneSE.applicable and not oneSE.implemented%}show{%endif%}" aria-labelledby="heading{{oneSE.id}}" data-bs-parent="#accordionShiftExchanges">
                                        <div class="accordion-body">
                                        <dl class="row">
                                            <dt class="col-sm-3">{{oneSE.requestor}} <br> <small> requested on {{oneSE.requested_date}}</small> <br>
                                            </dt>
                                            <dd class="col-sm-8">
                                                    {% for onePair in oneSE.shifts.all%}
                                                    <p><span class="badge text-bg-light">{{onePair}}</span></p>
                                                    {%endfor%}
                                            </dd>
                                            {%if oneSE.tentative%}
                                                <a class="btn btn-outline-success btn-light" href={% url 'shifter:shift-exchange-close' oneSE.id %}>Close request and await for approval
                                                <span class="fa-stack">
                                                <i class="fa-solid fa-circle fa-stack-2x" style="color:#198754"></i>
                                                    <i class="fa-solid fa-bolt fa-stack-1x fa-inverse"></i>
                                                </span> </a>
                                            {%endif%}
                                            {%if not oneSE.implemented%}
                                               <a class="btn btn-outline-danger btn-light" href={% url 'shifter:shift-exchange-cancel' oneSE.id %}>Cancel this request (cannot be undone!)
                                                <span class="fa-stack">
                                                <i class="fa-solid fa-circle fa-stack-2x" ></i>
                                                    <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                </span> </a>
                                            {%endif%}

                                        </dl>
                                        <dl class="row">
                                            <dd class="col-sm-1">
                                                {%if oneSE.implemented%}<span class="fa-stack">
                                                <i class="fa-solid fa-circle fa-stack-2x" style="color:#198754">{{oneSE.approver.first_name}}</i>
                                                <i class="fa-solid fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                                </span>{%endif%}
                                                {%if not oneSE.implemented and oneSE.applicable and not oneSE.tentative%}
                                                {%if oneSE.approver == member%}
                                                <a class="btn btn-outline-success btn-light" href={% url 'shifter:shift-exchange' oneSE.id %}>Approve
                                                <span class="fa-stack">
                                                <i class="fa-solid fa-circle fa-stack-2x" style="color:#198754"></i>
                                                <i class="fa-solid fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                                </span> </a> {%else%}
                                                <span class="fa-stack">
                                                <i class="fa-solid fa-circle fa-stack-2x" style="color:#198754">{{oneSE.approver.first_name}}</i>
                                                <i class="fa-solid fa-hourglass-1 fa-stack-1x fa-inverse"></i>
                                                {%endif%}{%endif%}
                                            </dd>
                                          </dl>
                                         </div>
                                        </div>
                                      </div>
                                    {%endfor%}
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" id="live_toast">
      <div class="d-flex">
        <div class="toast-body" id="toast_content">
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
</div>

{%  include 'layout/calendar_tools_off_canvas.html' %}

{% endblock %}


{%  block js %}
<script type="text/javascript" src="{% static 'js/calendar_script.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/user_space.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables.net-select/js/dataTables.select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'moment/min/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'select2/dist/js/select2.full.min.js' %}"></script>
<script>
$(document).ready(function() {
$('#displayed_campaigns').select2();
$('#displayed_revision').select2();
});
$("#futureMy").click(function () {
    $.ajax({
        type: "GET",
        url: '{% url "ajax.get_shifts_for_exchange"%}?option=my',
        success: function (data) {
            let html_data = '<option value="">---------</option>';
            data.forEach(function (data) {
                html_data += `<option value="${data.id}">${data.title}</option>`
            });
            $("#futureMy").html(html_data);
        }
    });
});
$("#futureOther").click(function () {
    $.ajax({
        type: "GET",
        url: '{% url "ajax.get_shifts_for_exchange"%}?option=them',
        success: function (data) {
            let html_data = '<option value="">---------</option>';
            data.forEach(function (data) {
                html_data += `<option value="${data.id}">${data.title}</option>`
            });
            $("#futureOther").html(html_data);
        }
    });
});
    function fillInconsistenciesDiv(rev){
      $("#shift-inconsistencies").load("{%  url 'ajax.get_shift_inconsistencies' %}?revision="+rev);
      return false;
    }
    $(document).ready(function() {
    $('#displayed_campaigns').select2();
    $('#displayed_revision').select2();
    fillInconsistenciesDiv(-1);
});</script>


{% endblock %}