{% extends 'template_main.html'%}
{% load static %}

{% block 'extra_menu_item' %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>Display options<small> Revision:{{displayed_revision}}</small></strong>
        </a>
        <form class="dropdown-menu p-4">
          {% csrf_token %}
          <div class="form-group">
          <label>Displayed campaigns:</label>

          {% for c in campaigns %}
          <br><input class="form-check-input" type="checkbox" name="campaign{{c.id}}" id="campaign{{c.id}}" value="{{c.id}}"
                     {%if c in scheduled_campaigns_list%} checked {%endif%} disabled>
            <label class="form-check-label" for="campaign{{c.id}}">{{c}}<br>
            <small><strong>{{c.date_start}} - {{c.date_end}}</strong></small></label>
          {% endfor %}
          </div>
<!--          <div class="dropdown-divider"></div>-->
<!--          <button type="submit" class="btn btn-primary" {%if not logged_user %} disabled {%endif%} >Apply</button>-->

        </form>
      </li>
{% endblock %}

{% block 'body' %}
    <div class="col-sm-8 mx-auto">
      <main role="main">
          <br>
          <h1><span class="badge badge-light"> Hello <member_id data-id="{{ member.id }}">{{member}}</member_id></span></h1>

          <ul>
<!--              <li>In the current revision <small>{{revision}}</small> you are scheduled for {{scheduled_shifts_list|length}} shifts.</li>-->
              <li>Check out your team  <a href="/t?mid={{member.id}}"> <strong>{{member.team}}</strong> shifts breakdown</a></li>
              {% if user.is_authenticated %}
              <li><a data-toggle="collapse" href="#collapseCodesDiv" role="button"
                 aria-expanded="false" aria-controls="collapseCodesDiv">
                Show your specific codes to report (ESS HR)
              </a></li>
              {% endif %}
          </ul>
          {% if user.is_authenticated %}
            <div class="collapse" id="collapseCodesDiv">
              <div class="card card-body">
                  <h5>HR CODES TO REPORT</h5>

                  <div class="alert alert-warning {{ message.tags }} alert-dismissible" role="alert" >
                    <strong>DISCLAIMER:</strong> These counts here are build to the best of our knowledge based on the HR documents, but should be treated as an indication rather than the ultimate reference.
                  </div>

                  <table class="table table-striped small">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">OB1 hours</th>
                      <th scope="col">OB2 hours</th>
                      <th scope="col">OB3 hours</th>
                      <th scope="col">OB4 hours</th>
                      <th scope="col">NWH hours</th>
                    </tr>
                  </thead>
                  <tbody>
                {%for one, codes in hrcodes.items %}
                    <tr>
                      <th scope="row">{{one}}</th>
                      {% for key, oneCount in codes.items %}<td>{%if oneCount > 0 %}<strong>{%endif%}{{oneCount}}{%if oneCount > 0 %}</strong>{%endif%}</td> {% endfor %}
                    </tr>
                {%endfor%}
                </tbody>
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      {% for key, oneCode in hrcodes_summary.items %}<th scope="col">{{oneCode}}</th> {% endfor %}
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          <p>
              <h5>Dynamic links (one can subscribe with any calendar app):</h5>
          <a class="btn btn-warning" href="ical?mid={{member.id}}">iCal link for you <strong>{{member}}</strong> </a>
              <a class="btn btn-warning" href="ical?tid={{member.team.id}}">iCal link for your team <strong>{{member.team}}</strong> </a>
<!--              <h5>Static links (once downloaded remain fixed):</h5>-->
<!--              <a class="btn btn-primary" href="calendar.ics?member={{member.id}}&month=current">Download iCal file with your shifts for <badge class="badge badge-warning"> {{currentmonth}}</badge></a>-->
<!--              <a class="btn btn-primary" href="calendar.ics?member={{member.id}}&month=next">Download iCal file with your for shifts <badge class="badge badge-warning"> {{nextmonth}}</badge></a>-->

          </p>
        <hr>
          <p>
          <h5>Newer plans available for the preview:</h5>
          {% for one in newer_revisions%}
            {% if one.ready_for_preview %}{%if future_rev_id%}<future_rev_id data-id="{{ future_rev_id }}"></future_rev_id>{%endif%}
            <a class="btn btn{%if one.number == future_rev_id%}-danger{%else%}-outline-danger{%endif%}" href="/user/rev/{{one.number}}"> <strong>{{one}}</strong> </a> {%endif%}{%endfor%}
          </p>
          <hr>
          <h5>Some inconsistencies</h5>
          <h6>Daily shift issues:</h6>
          {% for one in dailyViolations%}
            <p><span class="badge badge-warning">{{one.0}}</span> - <span class="badge badge-warning">{{one.1}} </span></p>
          {%endfor%}
          <h6>Weekly shift issues:</h6>
          {% for one in weeklyViolations%}
            <p><span class="badge badge-warning">{{one.0}}</span> - <span class="badge badge-warning">{{one.1}} </span></p>
          {%endfor%}
          {% endif %}
          <hr>
      </main>
    </div>

<br>

{% include 'calendar.html' with event_source=the_url %}
{% endblock %}


{%  block js %}
<script type="text/javascript" src="{% static 'js/calendar_script.min.js' %}"></script>
{% endblock %}