{% extends 'template_main.html'%}
{% load static %}

{% block body %}
<div class="container-fluid mb-5 pb-5">
    <div class="row">
        <h2 class="text-center mb-3">Desiderata for <member_id data-id="{{ member.id }}">{{member}}</member_id></h2>
        <p class="text-center mb-3">While creating a new planning, the rota maker assumes you're available all time ! As it's most probably not the
    case, you can set up here your availability planning. <br>
    Place slots corresponding to the period you are not available. <strong>This planning is only visible by the rota-maker, shifter admins and you !</strong>
        </p>
        <hr>
    </div>
    <div class="row">
        <div class="col pb-5">
            <div class='container'>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4>Desiderata type :</h4>
                            <form id="desiderata_type_form">
                            {%  for x in desiderata_types %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="desiderata_type{{ forloop.counter }}" value="{{ x.value }}" {%  if forloop.first %}checked{% endif %}>
                                <label class="form-check-label" for="desiderata_type{{ forloop.counter }}">{{ x.label }}</label>
                            </div>
                            {% endfor %}
                            </form>
                        </div>
                        <div class="col">
                            <h4>Options</h4>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="showsTeamDesiderata">
                              <label class="form-check-label" for="showsTeamDesiderata">Shows team desiderata</label>
                            </div>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="showMyShifts">
                              <label class="form-check-label" for="showMyShifts">Shows MY shifts</label>
                            </div>
                        </div>
                    </div>
                </div>
                  <div id='calendar' style="padding-top: 10px;"
                       data-delete-event="{% url 'desiderata.delete' %}"
                       data-edit-event="{% url 'desiderata.edit' %}"
                       data-post-event="{% url 'desiderata.add' %}"
                       data-source-desiderata="{% url 'desiderata.get_user_desiderata' %}"
                       data-source-holidays="{%  url 'ajax.get_holidays' %}"
                       data-source-team-events="{%  url 'ajax.get_team_events' %}"
                       data-source-shifts="{%  url 'ajax.get_user_events' %}"
                       data-source-team-desiderata="{% url 'desiderata.get_team_desiderata_non_rota_maker' %}"></div>
            </div>
        </div>
    </div>
</div>
{%  endblock body %}

{%  block js %}
    <script type="text/javascript" src="{% static 'js/user_desiderata.min.js' %}"></script>
{% endblock %}