{% extends 'template_main.html'%}
{% load crispy_forms_tags %}
{% block 'body' %}
    <div class="col-sm-8 mx-auto">
      <main role="main">
        <h1> {% load static %}
      <span class="badge badge-light"><img src="{% static 'img/study.png' %}" height="25" alt=""/> Study request portal </span></h1>

        {% if user.is_authenticated and form is not None %}
          <h2 class="alert-heading">Booking</h2>
          {%if activeBooking is not None %}
            <h3>{{activeBooking.title}}</h3>
            <br>
            <h4>Closing comments:</h4>
            <form action="{% url 'studies:request-post-close' %}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="activeBookingId" value="{{activeBooking.id}}" />
            <input type="radio" id="close" name="bookingState" value="D">
            <label for="close">Close</label><br>
            <input type="radio" id="cancel" name="bookingState" value="C">
            <label for="cancel">Cancel</label><br>
          {%else%}
            <form action="{% url 'studies:request-post' %}" method="POST" enctype="multipart/form-data">
          {%endif%}
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-success" type="submit" value="Submit">
            </form>
        {% endif %}

        <hr/>
          <h2>Last Requests <a class="btn btn-success" href="/studies/request?new=true"> <img src="{% static 'img/study.png' %}" height="20" alt=""/> New Study </a></h2>

          <a class="btn btn{% if studyFilter %}-outline{%endif%}-primary" href="/studies/request"> <img src="{% static 'img/study.png' %}" height="20" alt=""/>
                Show All </a>
          {%for stateType in bookingStates %}
            <a class="btn btn{%if studyFilter != stateType%}-outline{%endif%}-primary" href="/studies/request?typeId={{stateType}}"> <img src="{% static 'img/study.png' %}" height="20" alt=""/>
                {{stateType}} </a>
          {%endfor%}
        <table class="table table-striped" >
                  <thead>
                    <tr>
                      <th scope="col">Member</th>
                      <th scope="col">Study Title</th>
                      <th scope="col">Description</th>
                      <th scope="col">Request Date</th>
                      <th scope="col">Finished Date</th>
                      <th scope="col">State</th>
                      <th scope="col">Closing comments</th>
                    </tr>
                  </thead>
                  <tbody>
        {% for studyBooking in studyBookings %}
            <tr><td><strong>{{studyBooking.member}} <br> ({{studyBooking.member.team}})</strong></td>
                <td> <strong>{{studyBooking.title}}</strong></td>
                <td> {{studyBooking.description}}</td>
                <td>{{studyBooking.booking_created}}</td>
                <td>{{studyBooking.booking_finished}}</td>
                <td>{{studyBooking.get_state_display}}</td>
                <td>
                    {%if studyBooking.state == 'D' or studyBooking.state == 'C' %}<small> <span class="badge badge-secondary">{{studyBooking.state}}</span>  {{studyBooking.booking_finished}} /{{studyBooking.finished_by}}</small><br>{{studyBooking.after_comment}}
                    {% else %} <a class="btn btn-outline-success" href="/studies/request?close={{studyBooking.id}}"> <img src="{% static 'img/study.png' %}" height="20" alt=""/> Close/Cancel Study </a> {%endif%}
                </td>
            </tr>
        {% endfor %}
                  </tbody>
        </table>
<!--        <div style="clear:both;"></div>-->
        <hr/>

        <h5>Control Room Phone Number: <a class="btn btn-outline-primary" href="tel:{{controlRoomPhoneNumber}}"><strong>{{controlRoomPhoneNumber}}</strong></a></h5>
      </main>
    </div>
{% endblock %}