{% extends 'template_main.html'%}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h1>Password reset</h1>
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <form method="post" class="row">
                {% csrf_token %}
                {{ form|crispy}}
                <button type="submit" class="btn btn-success">Reset my password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}